.blue {
    height: 553px;
    background: #FFF3EA;
    opacity: 1;
}

.incluye {
    height: 693px;
    p {
        font-size: 60px;
        line-height: 62px;
        text-align: center;
        color: #3e3e3e;
    }
}

.preguntas {
    height: 549px;
    background: #f9f9f9;
    opacity: 0.89;
}

.suscribe {
    height: 259px;
    background: white;
}

.redes {
    height: 150px;
    background: #575757;
}

.legal {
    height: 51px;
    background-color: #c00717;
}