.blue{
    height: 553px;
background: #96cff9;
opacity: 1;

}

.incluye{
    height: 693px;
    p{
        font-size: 60px;
line-height: 62px;
text-align: center;
color: #1e22aa;
    }
}


.preguntas{
    height: 549px;
    background: #f9f9f9;
    opacity: 0.89;
}

.suscribe{
    height: 259px;
background: #1e22aa;
}

.redes{
    height: 150px;
    background: #3fa9f5;
}

.legal{
    height: 51px;
    background-color: #0588E4;
}